In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np
import math as mt

In [2]:
medicao = pd.read_excel('Medição.xlsx',sheet_name='Medição')
medicao.head()

,Data,Ocorrência,Freqüência,Tensão R,Corrente R,Fat.Pot. R,Tensão S,Corrente S,Fat.Pot. S,Tensão T,Corrente T,Fat.Pot T
0,2019-12-10 15:47:41,26,60.0,218.14,0.25,1.0,218.37,0.25,1.0,0,0,1
1,2019-12-10 15:48:20,1,59.8,218.28,3.20,1.0,218.42,0.00,1.0,0,0,1
2,2019-12-10 15:48:30,1,60.0,218.95,3.35,1.0,218.50,0.00,1.0,0,0,1
3,2019-12-10 15:48:40,1,60.0,220.10,3.37,1.0,218.12,0.00,1.0,0,0,1
4,2019-12-10 15:48:50,1,60.0,220.06,3.42,1.0,218.00,0.00,1.0,0,0,1

In [3]:
medicao.drop(columns={'Ocorrência','Freqüência','Fat.Pot T','Tensão T', 'Corrente T'}, inplace=True)
medicao.head()

,Data,Tensão R,Corrente R,Fat.Pot. R,Tensão S,Corrente S,Fat.Pot. S
0,2019-12-10 15:47:41,218.14,0.25,1.0,218.37,0.25,1.0
1,2019-12-10 15:48:20,218.28,3.20,1.0,218.42,0.00,1.0
2,2019-12-10 15:48:30,218.95,3.35,1.0,218.50,0.00,1.0
3,2019-12-10 15:48:40,220.10,3.37,1.0,218.12,0.00,1.0
4,2019-12-10 15:48:50,220.06,3.42,1.0,218.00,0.00,1.0

In [4]:
medicao.rename(columns ={'Fat.Pot. S': 'FP S', 
                            'Fat.Pot. R': 'FP R'}, inplace=True)
medicao.head()

                 Data  Tensão R  Corrente R  FP R  Tensão S  Corrente S  FP S
0 2019-12-10 15:47:41    218.14        0.25   1.0    218.37        0.25   1.0
1 2019-12-10 15:48:20    218.28        3.20   1.0    218.42        0.00   1.0
2 2019-12-10 15:48:30    218.95        3.35   1.0    218.50        0.00   1.0
3 2019-12-10 15:48:40    220.10        3.37   1.0    218.12        0.00   1.0
4 2019-12-10 15:48:50    220.06        3.42   1.0    218.00        0.00   1.0

In [5]:
#medicao.set_index('Data',inplace=True)

In [6]:
medicao

,Data,Tensão R,Corrente R,FP R,Tensão S,Corrente S,FP S
0,2019-12-10 15:47:41,218.14,0.25,1.0,218.37,0.25,1.0
1,2019-12-10 15:48:20,218.28,3.20,1.0,218.42,0.00,1.0
2,2019-12-10 15:48:30,218.95,3.35,1.0,218.50,0.00,1.0
3,2019-12-10 15:48:40,220.10,3.37,1.0,218.12,0.00,1.0
4,2019-12-10 15:48:50,220.06,3.42,1.0,218.00,0.00,1.0
...,...,...,...,...,...,...,...
51153,2019-12-16 16:03:50,223.57,0.00,1.0,224.64,0.00,1.0
51154,2019-12-16 16:04:00,223.60,0.00,1.0,224.82,0.00,1.0
51155,2019-12-16 16:04:14,223.71,0.00,1.0,224.82,0.00,1.0
51156,2019-12-16 16:04:20,223.64,0.00,1.0,224.78,0.00,1.0
51157,2019-12-16 16:04:30,223.67,0.00,1.0,224.42,0.00,1.0

In [7]:
exceldados = pd.ExcelWriter('Analises.xlsx',
                            engine='xlsxwriter',
                            datetime_format='mmm-d-yyyy hh:mm:ss',
                            date_format='mmmm-dd-yyyy',)
medicao.to_excel(exceldados, sheet_name='Analise Karling')
exceldados.save()

FileCreateError: [Errno 13] Permission denied: 'Analises.xlsx'

In [ ]:
from win32com.client import Dispatch

appexcel = Dispatch('Excel.Application')
wb = appexcel.Workbooks.Open('C:\\Dev\\GitsLeo\\Karling\\Analises.xlsx')

for i in range (1, 2, 1):
    appexcel.Worksheets(i).Activate()
    appexcel.ActiveSheet.Columns.AutoFit()

appexcel.Worksheets(1).Activate()
wb.Save()
wb.Close()

In [8]:
separacao_S = medicao.loc[((medicao["Corrente S"] > 10))]
separacao_S.head()

,Data,Tensão R,Corrente R,FP R,Tensão S,Corrente S,FP S
2059,2019-12-10 21:31:20,213.85,17.37,0.95,221.07,10.02,1.0
2061,2019-12-10 21:31:40,213.37,17.37,0.95,221.87,10.02,1.0
2062,2019-12-10 21:31:50,213.28,17.42,0.95,222.00,10.05,1.0
2063,2019-12-10 21:32:00,213.23,17.45,0.95,221.95,10.10,1.0
2064,2019-12-10 21:32:10,212.84,17.42,0.95,221.46,10.10,1.0

In [9]:
separacao_R = medicao.loc[((medicao["Corrente R"] > 10))]
separacao_R.head()

                  Data  Tensão R  Corrente R  FP R  Tensão S  Corrente S  FP S
21 2019-12-10 15:51:40    217.37       12.47   1.0    217.78        0.00   1.0
22 2019-12-10 15:51:50    216.31       17.77   1.0    218.14        0.00   1.0
23 2019-12-10 15:52:00    216.53       17.60   1.0    217.50        3.75   1.0
24 2019-12-10 15:52:10    216.53       17.72   1.0    217.35        5.07   1.0
25 2019-12-10 15:52:20    216.89       17.72   1.0    216.67        8.35   1.0

In [10]:
separacao_R['Corrente R'].describe()

count    1134.000000
mean       13.485185
std         5.058024
min        10.050000
25%        10.570000
50%        11.170000
75%        13.992500
max        32.650000
Name: Corrente R, dtype: float64

In [11]:
separacao_S['Corrente S'].describe()

count    1020.000000
mean       12.130284
std         3.118662
min        10.020000
25%        10.320000
50%        10.950000
75%        13.050000
max        37.450000
Name: Corrente S, dtype: float64

In [12]:
separacao_R.drop(columns={'Tensão S','Corrente S','FP S','FP R'}, inplace=True)
separacao_S.drop(columns={'Tensão R','Corrente R','FP R','FP S'}, inplace=True)
exceldados = pd.ExcelWriter('Analises.xlsx',
                            engine='xlsxwriter',
                            datetime_format='mmm-d-yyyy hh:mm:ss',
                            date_format='mmmm-dd-yyyy',)
medicao.to_excel(exceldados, sheet_name='Analise Karling')
separacao_R.to_excel(exceldados, sheet_name='analise R')
separacao_S.to_excel(exceldados, sheet_name='analise S')
exceldados.save()
separacao_R.head()

C:\Users\ENERGENS_04\.conda\envs\pyleo\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                  Data  Tensão R  Corrente R
21 2019-12-10 15:51:40    217.37       12.47
22 2019-12-10 15:51:50    216.31       17.77
23 2019-12-10 15:52:00    216.53       17.60
24 2019-12-10 15:52:10    216.53       17.72
25 2019-12-10 15:52:20    216.89       17.72

In [13]:
from win32com.client import Dispatch

appexcel = Dispatch('Excel.Application')
wb = appexcel.Workbooks.Open('C:\\Dev\\GitsLeo\\Karling\\Analises.xlsx')

for i in range (1, 4, 1):
    appexcel.Worksheets(i).Activate()
    appexcel.ActiveSheet.Columns.AutoFit()

appexcel.Worksheets(1).Activate()
wb.Save()
wb.Close()

In [22]:
separacao_R.describe()

          Tensão R   Corrente R
count  1134.000000  1134.000000
mean    216.756561    13.485185
std       3.982818     5.058024
min     205.710000    10.050000
25%     214.070000    10.570000
50%     215.890000    11.170000
75%     220.750000    13.992500
max     225.530000    32.650000

In [23]:
medicao.describe()

,Tensão R,Corrente R,FP R,Tensão S,Corrente S,FP S
count,51158.000000,51158.000000,51158.000000,51158.000000,51158.000000,51158.000000
mean,220.098474,2.119204,0.951756,221.466138,3.198066,0.937743
std,4.190390,2.724792,0.265722,4.411848,3.099542,0.135731
min,0.000000,0.000000,-0.990000,0.000000,0.000000,-0.990000
25%,217.390000,0.000000,0.970000,218.120000,1.300000,0.880000
50%,220.210000,1.400000,1.000000,222.090000,2.200000,1.000000
75%,223.310000,4.320000,1.000000,224.920000,5.070000,1.000000
max,228.870000,32.650000,1.000000,230.250000,37.450000,1.000000

In [26]:
porcentagem = (1134*100)/51158
porcentagem

2.2166621056335276